@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
  --color-primary: #e68369;
  --color-secondary: #ecceae;
  --color-white: #fbf6e2;
  --color-black: #131842;
}

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--color-white);
  /* color: var(--color-white); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Krona One', sans-serif;
}

.header {
  padding: 2% 0% 2% 15%;
}

.header__menu {
  display: flex;
  gap: 80px;
}

.header__menu__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary);
}

.titulo-destaque {
  color: var(--color-primary);
}

.presentacion {
  padding: 5% 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentacion__contenido {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.presentacion__contenido__titulo {
  font-size: 36px;
  font-family: 'Krona One', sans-serif;
}

.presentacion__contenido__texto {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}

.presentacion__enlaces {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.presentacion__enlaces__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  width: 220px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  padding: 16px 4px;
  border-radius: 12px;
  border: 2px solid var(--color-primary);
  color: var(--color-black);
  transition: color 0.2s ease, backgroundColor 0.3s ease;
}

.icon {
  font-size: 1.5rem;
  margin-right: 4px;
}

.presentacion__enlaces__link:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.presentacion__enlaces__link:hover .icon {
  color: var(--color-secondary);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

footer svg {
  vertical-align: -0.1em;
}

footer {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
